<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" android:permissionGroup="android.permission-group.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="32" />

    <!--アプリケーションがBluetooth機能を使用するために、デバイスがBluetoothをサポートしていることを宣言する-->
    <uses-feature android:name="android.hardware.bluetooth"/>
    <!--アプリケーションがBluetooth機能にアクセスするために必要な権限を宣言する-->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <!--Bluetooth機能を制御するために必要な権限を宣言する-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!--Bluetooth接続を確立するために必要な権限を宣言する-->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CodeReader"
        tools:targetApi="31">
        <activity-alias
            android:name=".StartActivity"
            android:exported="true"
            android:targetActivity=".MainActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.CodeReader.NoActionBar"
            />

        <activity
            android:name=".ScanActivity"
            android:theme="@style/Theme.CodeReader.NoActionBar"
            />
    </application>

</manifest>